In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.4

In [2]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), 
                  columns=cols)
df

   usia
0    96
1    27
2    28
3    15
4    34
5    69
6    55
7    21
8    53
9    51

In [3]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins=[0, 18, 65, 99], 
                             labels=['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    96        manula
1    27        dewasa
2    28        dewasa
3    15          anak
4    34        dewasa
5    69        manula
6    55        dewasa
7    21        dewasa
8    53        dewasa
9    51        dewasa